.nav {
   margin-left: 40px !important;
}
.btn{
    background-color: orange !important;
}
.link{
    color:white !important;
}
.img{
      
    width: 100px;
    height: 80px;
    margin-left: 40px;
    fill: white;
    
}